In [1]:
print("Hello world")

Hello world

In [2]:
print(2)

2

In [3]:
print(8.9)

8.9

In [4]:
#use shift+Tab for seeing the different attributs of the function by clicking inside the bracket (shift+Tab)

In [5]:
print("India",5,True)

India 5 True

In [6]:
print(False)

False

In [7]:
print("India","Pakistan","Nepal","Srilanka")#here the sep value by default is space that is sep=' ' try to use single '' for value assign

India Pakistan Nepal Srilanka

In [8]:
print("India","Pakistan","Nepal","Srilanka",sep='/')#here the sep value is set to / that is sep='/'

India/Pakistan/Nepal/Srilanka

In [9]:
print("India","Pakistan","Nepal","Srilanka",sep='-')#here the sep value is set to '-'

India-Pakistan-Nepal-Srilanka

In [10]:
print("India","Pakistan","Nepal","Srilanka",sep='')#now here as you can see teh sep value is without any space that is it has chnaged from ' ' to ''

IndiaPakistanNepalSrilanka

In [11]:
print("Hello")#here the by default value is been set to end='\n' means next line
print("world")

Hello
world

In [12]:
print("Hello",end=' ')#so here you can see the value is set to space that is ' '
print("World")

Hello World

In [13]:
#lec-2

In [14]:
# python supports 3 categories of data types:
#1 basic types- (integer, float, complex, boolean and string)
#2 Container types- (List, Tuples, Sets and Dictonary)
#3 User-defined types- Class

In [15]:
#integer
print(4.5)
print(1.7e308) #heigestnumber in python

4.5
1.7e+308

In [16]:
#complex
print(4+2j)

(4+2j)

In [17]:
#string
print('chhattisgarh')
print("chhattisgarh")
print("""chhattisgarh""")

chhattisgarh
chhattisgarh
chhattisgarh

In [18]:
#List
print([1,2,3,4,5]) #this is list also called array in other language

[1, 2, 3, 4, 5]

In [19]:
#tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [20]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [21]:
#dict
print({"Name":"Nitish","Age":30,"gender":"Male"})

{'Name': 'Nitish', 'Age': 30, 'gender': 'Male'}

In [22]:
#lec-3
#comment

In [23]:
 #lec-4
#in C lang 
#int a = 5 but in python we dont have to give the datatype its intelligent enough to predict the right datatype according to the value

In [24]:
name="Pankaj"

In [25]:
print(name)

Pankaj

In [26]:
#no variable declaration
#dynamic typing -->php  - not requiered to specify the datatype
#static typing -->need to declar variable

In [27]:
name = 4
print(name)

4

In [28]:
name = True
print(name)

True

In [29]:
#Dynamic Binding - it can change the datatypes according to the value it can be string boolean etc
#static Binding

In [30]:
#special syntax
a =5;b=6;c=7
print(a)
print(b)
print(c)

5
6
7

In [31]:
a,b,c =4,5,6
print(a)
print(b)
print(c)

4
5
6

In [32]:
#lec-5
#keywords and idetifier in python

In [33]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
 #lec-6 input

In [35]:
input() #by default its prompt=''

''

In [36]:
input("apna naam bata") #here its prompt="apna naam bata"

apna naam bata

''

In [37]:
first_num = int(input("Enter the first number"))
second_num = int(input("Enter the second number"))
result = first_num + second_num 
print(result)

Enter the first number1
Enter the second number2
3

In [38]:
#type_function tells the data type
type([1,2,3,4])

list

In [39]:
type(3)

int

In [40]:
type("panku")

str

In [41]:
int('34')

34

In [42]:
float('6')

6.0

In [43]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [44]:
int("hollo")

ValueError: invalid literal for int() with base 10: 'hollo'

In [45]:
#Lec-8
#types of literals (value)
#numeric literals
#string literals
#boolean literals
#special literals

In [3]:
#numeric literals
a = 0b1010 #binary literal
b = 100 #Decimal literal
c = 0o310 #Octal literal
d = 0x12c #Hexadecimal literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

#Complex literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2, float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [7]:
#String Literals
string = 'This is python'
strings = "This is python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is python
This is python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [10]:
#Boolean literal
a = True + 4
b = False + 10

print("a:",a)
print("b:",b)

a: 5
b: 10

In [12]:
#Special Literal
a = None
print(a)

None

In [13]:
#variable declaration in python
k = None 
#we can not declare a variable before using it in python and to do so we have to assing it with value None ,we can not give 0 as the value it can cause error letter or disturb the code 
#so the best way to declare a variable in python is to put it None 
#in python we use variable as we need we dont predeifen it or declare it like in c

In [14]:
#Operators
#Operators are used to perform operation on variables and values. Python has the following operators:

#Arithematic operators
#Comparison operators
#Logical operators
#Bitwise operators 
#Assignment operators
#identity operators
#Membership operators

In [4]:
#Arithematic operators
x = 5
y = 2

print(x + y)

7

In [5]:
print(x - y)

3

In [20]:
print(x * y)

10

In [22]:
print(x/y)

2.5

In [24]:
print(x%y)

1

In [6]:
print(x ** y)

25

In [7]:
print(x // 2)#integer division if the division is in float it converts it into integer

2

In [9]:
#comparision operators
x = 5
y = 6

print(x > y)

False

In [11]:
print(x < y)

True

In [13]:
print(x == y)

False

In [15]:
print(x >= y)

False

In [17]:
print(x <= y)

True

In [19]:
print(x != y)

True

In [21]:
#logical operators
x = True
y = False

print(x or y)

True

In [23]:
print(x and y)

False

In [25]:
print(not x)

False

In [42]:
#Bitwise

x = 2 
y = 8

print(x & y)

0

In [43]:
print(x | y) #or

10

In [44]:
print(x >> 2) #right shift

0

In [45]:
print(x ^ y) #xor

10

In [46]:
print(y << 3) #left shift  0011000

64

In [47]:
print(~y) #Not

-9

In [48]:
#Assignment 
a = 3 
print(a)

3

In [49]:
a += 3
print(a)

6

In [50]:
a -= 3
print(a)

3

In [49]:
a &= 3
print(a)

3

In [50]:
a++
++a 
#this thing doesnt work in python

SyntaxError: invalid syntax (2210147720.py, line 1)

In [51]:
#identity
a = 3
b = 3

print( a is b)

True

In [52]:
a = "hello"
b = "hello"
print(a is b)

True

In [53]:
a = "Hello-world"
b = "Hello-world"
print(a is b)

False

In [62]:
a = [1,2,3]
b = [1,2,3]

print(a is b) #wow
print(a is not b)

False
True

In [63]:
x = "Delhi"

print("D" in x)

True

In [64]:
print("D" not in x)

False

In [65]:
x = (1,2,3)
print(5 in x)

False

In [66]:
print(2 in x)

True

In [67]:
#identity - is, not is
#membership - in, not in

In [ ]:
# correct email - compusx@gmail.com
# password - 1234

email = input("Apna email bata: ")
if '@' in email:
    password = input("Apna password bata")
    if email == "campusx@gmail.com" and password == "1234":
        print("Welcome")
    elif email == "campusx@gmail.com" and password != "1234":
        print("password incorrect")
        password =input("password fir se bol")
        if password == "1234":
            print("welcome")
        else:
            print("chutti ye password yad kar ke aa")
    else:
        print("incorrect credentials")
else:
    print("Email galat hai sahi likho")

In [ ]:
#note indentation is very important in python than in any other language for example
#python doesnt need any bracket it is very important to maintain indentation in python

#in other language indentation is not important
if(name) == "xyz"{
    something;
            something;
}else{
something else;
    smething else;
}

In [8]:
name = "xyz"
if name == "xyz":
    print('line 1')
    print('line 2')
    if 5 == 5:
        print('line 5')
else:
    print('line 3')

line 1
line 2
line 5

In [ ]:
#why python did indentation beacuse it makes it easy to read and the code is much readable so python make it compulsory by removing brackts and making indentation as a common sense to use and read code

In [ ]:
#python has 2 loops
#while loop and for loop

#syntax in other language
while(condition){
    code
}

In [ ]:
#syntax in python
while condition:
    code

In [ ]:
number = int(input("enter the number"))

i=1

while i<11:
    print(number,"*",i,"=",number * i)
    i+=1

In [ ]:
#guessing-game 
import random

In [34]:
random.randint(1,100)#gives a random number between a to b

8

In [47]:
jackpot = random.randint(1,100)
print(jackpot)

95

In [48]:
guess = int(input("chal guess kar: "))
counter = 1

while guess != jackpot:
    if guess>jackpot:
        print("guess less")
    else:
        print("guess more")
    guess = int(input("fir se guess kar: "))
    counter +=1

print("correct after",counter,"no. of atempts")

chal guess kar: 50
guess more
fir se guess kar: 75
guess more
fir se guess kar: 87
guess more
fir se guess kar: 90
guess more
fir se guess kar: 95
correct after 5 no. of atempts

In [49]:
#for loop in other language
for(i=0;i<0;i++){
    code
}

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (245143736.py, line 2)

In [51]:
#range function
list(range(1,11)) #it has 3 value start,end,step

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
list(range(15)) #in this by default the start point is 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [55]:
list(range(1,11,2)) #step is 2

[1, 3, 5, 7, 9]

In [57]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [69]:
for i in "Kolkata":
    print(i)

K
o
l
k
a
t
a

In [70]:
for i in [1,2,3,5]:
    print(i)

1
2
3
5

In [71]:
for i in (1,2,3,5):
    print(i)

1
2
3
5

In [72]:
for i in {1,2,3,5}:
    print(i)

1
2
3
5

In [75]:
#Nested loop in python

row = int(input("enter the number of row"))

for i in range(1,row+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print("")

enter the number of row5
*
* *
* * *
* * * *
* * * * *

In [4]:
#break-continue-and-pass
for i in range(1,11): 
    if i == 5:
        break
    print(i)

1
2
3
4

In [6]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)
    print("hello")

#how sir used the countinue statement 
#in an e-commerace website the available product is been displayed but to not display the unavailable product we can use continue

#how sir used loop
#in a website to print similar containers for different data we can use loop
#like in an e-commerce website we can just take data from the database and print it in a similar way for every similar product insted of making different ontainer for each we can just make one container and print different data

#how to use input
#insted of making thousands of webpage of different person we can just creat a single webpage and display different users data for different users by taking input or soo onn//..

1
hello
2
hello
3
hello
4
hello
6
hello
7
hello
8
hello
9
hello
10
hello

In [1]:
for i in range(1,11):
    pass

#it just pass the code and use it for like future code

In [6]:
#absalute function - abs
abs(-4)

4

In [8]:
#power function - pow
pow(2,-3)

0.125

In [10]:
#min/max 
min([2,3,5,1,8])

1

In [16]:
max("pankazu")

'z'

In [20]:
#round
c = 22/7
round(c)
round(c,3) #upto 3 decimal place

3.143

In [76]:
#divmod
divmod(7,2) #check it through  shit+tab:)

(3, 1)

In [26]:
#bin/oct/hex
print(bin(10))
print(oct(10))
print(hex(10))

0b1010
0o12
0xa

In [78]:
#id function gives the memory address in the computer 
a = 3
id(a)

140703922578280

In [30]:
#ord gives the astric value 
ord('A')

65

In [31]:
#len
len([1,2,5])

3

In [33]:
#sum
sum([2,4,3,6])

15

In [35]:
#help function helps  to see the documentation of any function
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [37]:
#what are modules?
#consider a module to be the same as a code library. 
#A file containing a set of functions you want to include in your application. 

#Examples of python modules
#Math
#Random
#os 
#time

help('modules')#helps to  list all the modules available in the system

Please wait a moment while I gather a list of all available modules...

IPython             binascii            marshal             string
__future__          bisect              math                stringprep
__hello__           bleach              matplotlib_inline   struct
__phello__          bs4                 mimetypes           subprocess
_abc                builtins            mistune             sunau
_aix_support        bz2                 mmap                symtable
_argon2_cffi_bindings cProfile            mmapfile            sys
_ast                calendar            mmsystem            sysconfig
_asyncio            certifi             modulefinder        tabnanny
_bisect             cffi                msilib              tarfile
_blake2             cgi                 msvcrt              telnetlib
_bootsubprocess     cgitb               multiprocessing     tempfile
_bz2                charset_normalizer  nbclassic           terminado
_cffi_backend       chunk               nbclient            test
_codecs             cmath               nbconvert           textwrap
_codecs_cn          cmd                 nbformat            this
_codecs_hk          code                nest_asyncio        threading
_codecs_iso2022     codecs              netbios             time
_codecs_jp          codeop              netrc               timeit
_codecs_kr          collections         nntplib             timer
_codecs_tw          colorama            notebook            tinycss2
_collections        colorsys            notebook_shim       tkinter
_collections_abc    comm                nt                  token
_compat_pickle      commctrl            ntpath              tokenize
_compression        compileall          ntsecuritycon       tomllib
_contextvars        concurrent          nturl2path          tornado
_csv                configparser        numbers             trace
_ctypes             contextlib          odbc                traceback
_ctypes_test        contextvars         opcode              tracemalloc
_datetime           copy                operator            traitlets
_decimal            copyreg             optparse            tty
_distutils_hack     crypt               os                  turtle
_elementtree        csv                 overrides           turtledemo
_functools          ctypes              packaging           types
_hashlib            curses              pandocfilters       typing
_heapq              dataclasses         parso               typing_extensions
_imp                datetime            pathlib             unicodedata
_io                 dateutil            pdb                 unittest
_json               dbi                 perfmon             uri_template
_locale             dbm                 pickle              urllib
_lsprof             dde                 pickleshare         urllib3
_lzma               debugpy             pickletools         uu
_markupbase         decimal             pip                 uuid
_md5                decorator           pipes               venv
_msi                defusedxml          pkg_resources       warnings
_multibytecodec     difflib             pkgutil             wave
_multiprocessing    dis                 platform            wcwidth
_opcode             distutils           platformdirs        weakref
_operator           doctest             plistlib            webbrowser
_osx_support        email               poplib              webcolors
_overlapped         encodings           posixpath           webencodings
_pickle             ensurepip           pprint              websocket
_py_abc             enum                profile             widgetsnbextension
_pydecimal          errno               prometheus_client   win2kras
_pyio               executing           prompt_toolkit      win32api
_pyrsistent_version fastjsonschema      pstats              win32clipboard
_queue              faulthandler        psutil              win32com
_random             filecmp             pty                 win32con
_sha1               fileinput           pure_eval           win32console
_sha256             fnmatch             pvectorc            win32cred
_sha3               fqdn                py_compile          win32crypt
_sha512             fractions           pyclbr              win32cryptcon
_signal             ftplib              pycparser           win32event
_sitebuiltins       functools           pydoc               win32evtlog
_socket             gc                  pydoc_data          win32evtlogutil
_sqlite3            genericpath         pyexpat             win32file
_sre                getopt              pygments            win32gui
_ssl                getpass             pyrsistent          win32gui_struct
_stat               gettext             pythoncom           win32help
_statistics         glob                pythonjsonlogger    win32inet
_string             graphlib            pywin               win32inetcon
_strptime           gzip                pywin32_bootstrap   win32job
_struct             hashlib             pywin32_testutil    win32lz
_symtable           heapq               pywintypes          win32net
_testbuffer         hmac                qtconsole           win32netcon
_testcapi           html                qtpy                win32pdh
_testconsole        http                queue               win32pdhquery
_testimportmultiple idlelib             quopri              win32pdhutil
_testinternalcapi   idna                random              win32pipe
_testmultiphase     imaplib             rasutil             win32print
_thread             imghdr              re                  win32process
_threading_local    imp                 regcheck            win32profile
_tkinter            importlib           regutil             win32ras
_tokenize           inspect             reprlib             win32rcparser
_tracemalloc        io                  requests            win32security
_typing             ipaddress           rfc3339_validator   win32service
_uuid               ipykernel           rfc3986_validator   win32serviceutil
_warnings           ipykernel_launcher  rlcompleter         win32timezone
_weakref            ipython_genutils    runpy               win32trace
_weakrefset         ipywidgets          sched               win32traceutil
_win32sysloader     isapi               secrets             win32transaction
_winapi             isoduration         select              win32ts
_winxptheme         itertools           selectors           win32ui
_xxsubinterpreters  jedi                send2trash          win32uiole
_yaml               jinja2              servicemanager      win32verstamp
_zoneinfo           json                setuptools          win32wnet
abc                 json5               shelve              winerror
adodbapi            jsonpointer         shlex               winioctlcon
afxres              jsonschema          shutil              winnt
aifc                jupyter             signal              winperf
antigravity         jupyter_client      site                winpty
anyio               jupyter_console     six                 winreg
argon2              jupyter_core        smtpd               winsound
argparse            jupyter_events      smtplib             winxpgui
array               jupyter_lsp         sndhdr              winxptheme
arrow               jupyter_server      sniffio             wsgiref
ast                 jupyter_server_terminals socket              xdrlib
asttokens           jupyterlab          socketserver        xml
async_lru           jupyterlab_pygments soupsieve           xmlrpc
asynchat            jupyterlab_server   sqlite3             xxsubtype
asyncio             jupyterlab_widgets  sre_compile         yaml
asyncore            keyword             sre_constants       zipapp
atexit              lib2to3             sre_parse           zipfile
attr                linecache           ssl                 zipimport
attrs               locale              sspi                zlib
audioop             logging             sspicon             zmq
babel               lzma                stack_data          zoneinfo
backcall            mailbox             start_pythonwin
base64              mailcap             stat
bdb                 markupsafe          statistics

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [40]:
#include<stdio.h> in c language but in python
import math

In [42]:
math.pi#press tab after . to get the list

3.141592653589793

In [44]:
math.e

2.718281828459045

In [45]:
math.factorial(5)

120

In [47]:
math.ceil(6.3)

7

In [49]:
math.floor(6.9)

6

In [51]:
math.sqrt(100)

10.0

In [52]:
import random

In [54]:
random.randint(1,100)

23

In [59]:
a = [1,2,3,4,5]
random.shuffle(a)
a

[1, 5, 3, 2, 4]

In [60]:
import time

In [61]:
time.time() #timestam from 1st january 19**

1687973161.673016

In [62]:
time.ctime()

'Wed Jun 28 22:56:17 2023'

In [63]:
print("Hello")
time.sleep(1)#delay
print("world")

Hello
world

In [64]:
import os

In [66]:
os.getcwd()

'D:\\python file'

In [67]:
os.listdir()

['.ipynb_checkpoints', 'desktop.ini', 'Untitled.ipynb']

In [68]:
#strings are sequence of characters
#in python specifically, strings are a sequence of unicode characters
#creating strings
#accessing strings
#adding chars to strings
#editing strings
#deleting strings
#operations on strings
#string functions

In [69]:
#creating 
c = 'Hello'
print(c)

Hello

In [70]:
c = "Hello"
print(c)

Hello

In [71]:
"it's raining outside"

"it's raining outside"

In [72]:
#as you can see y we need '' and "" both for string  :) interesting

In [73]:
c = '''Hello'''
print(c)
#multi line strings

Hello

In [74]:
c = """Hello"""
print(c)

Hello

In [75]:
c = str("Hello")
c

'Hello'

In [76]:
#concept of Indexing
c = "hello"
print(c)

hello

In [77]:
print(c[0])

h

In [78]:
print(c[3])

l

In [79]:
# Types of Indexing in python
# positive indexing left to right
# Negative indexing right to left 

print(c[-1])

o

In [80]:
# slicing
c = "Hello World"
print(c)

Hello World

In [85]:
print(c[0:5]) #last wala se 1 kam

Hello

In [82]:
print(c[2:])

llo World

In [83]:
print(c[:4])

Hell

In [84]:
print(c[:])

Hello World

In [86]:
print(c)

Hello World

In [87]:
print(c[2:6:2])

lo

In [88]:
print(c[0:8:3])

HlW

In [89]:
print(c[0:6:-1])

In [90]:
print(c[-5:-1:2]) #last wala not included -d so worl now 2 step -wr

Wr

In [91]:
print(c[::-1])#to reverse the whole string

dlroW olleH

In [92]:
print(c[-1:-5:-1])

dlro

In [93]:
#Editing and Deleting in strings not happen
c = "Hello"
print(c)

Hello

In [1]:
c[0] = 'x'

NameError: name 'c' is not defined

In [2]:
#strings are a immutable data tyep meaning cant be changed once string is created mutable means that can change

In [3]:
c = "world"#we can assing new 
print(c)

world

In [4]:
#Deletion
c

'world'

In [5]:
del c

In [6]:
print c

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4198097486.py, line 1)

In [7]:
c = "hello"

In [8]:
print(c)

hello

In [9]:
del c[0] #cant be change because strings are ummutable

TypeError: 'str' object doesn't support item deletion

In [10]:
del c[:3:2]

TypeError: 'str' object does not support item deletion

In [11]:
#operation on string

In [12]:
#arithmetic operation only + and *
"hello" + "-" + "world"

'hello-world'

In [13]:
print("*"*50)

**************************************************

In [14]:
print("hello"*4)

hellohellohellohello

In [15]:
"hello" == "world"

False

In [16]:
"hello" != "world"

True

In [18]:
"mumbai" > "pune" 
#lexiographically comparation like in dictionary mumbai comes first than pune so pune is bigger

False

In [19]:
"Goa" < "Kolkata"

True

In [20]:
"kol" < "Kol" #capital letter comes first than small

False

In [21]:
"hello" and "world"

'world'

In [23]:
#in python
#  "" -> False #empty is false
#  "wedghl" -> True #non-empty is true

In [24]:
"" and "hello"

''

In [25]:
"" or "world"

'world'

In [26]:
"hello" or "world"  # in or we need 1 so in 1 or 1 it takes the first one that is hello in this case

'hello'

In [27]:
"hello" and "world" # in and we need both to be 1 so in 1 and 1 it takes the latter 1 becuse it confirms that both are true so in this case world

'world'

In [28]:
not "hello" #in this non empty ka ulta empty so true ka false

False

In [29]:
not ""

True

In [30]:
c = "hello world"
for i in c:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [31]:
c = "hello world"
for i in c[1:7:2]:
    print(i)

e
l

In [32]:
"h"in c

True

In [33]:
"H" in c

False

In [34]:
"world" not in c

False

In [45]:
c = "hello-world"
"hello" in c

True

In [44]:
#common funtion

In [49]:
c = "kolkata"
len(c)

7

In [50]:
max(c)

't'

In [51]:
min(c)

'a'

In [52]:
sorted(c,reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

In [53]:
#capitalize/title/upper/lower/swapcase

"it is raining today".capitalize()

'It is raining today'

In [54]:
"it is raining today".title()

'It Is Raining Today'

In [55]:
c.upper().lower()

'kolkata'

In [56]:
"koLKATA".swapcase()

'KOlkata'

In [57]:
#2 count

In [58]:
"it is raining".count("i")

4

In [59]:
"it is raining".count("ing")

1

In [62]:
#3 Find/index
"it is raining".find("g") #tells the posiition

12

In [65]:
"it is raining".find("x")

-1

In [64]:
"it is raining".index("x") #it throughs erroe if the letter is not present but find doesnt through error insted shows -1

ValueError: substring not found

In [66]:
"it is raining".index("r")

6

In [67]:
#endswith/startswith

In [68]:
"it is raining".endswith("ingef")

False

In [69]:
 "it is raining".startswith("it")

True

In [70]:
  #format

In [71]:
"Hello my name is {} and I am {}".format("Nitish",30)
#you can use it to fill the detail later like in a login page

'Hello my name is Nitish and I am 30'

In [72]:
"Hello my name is {1} and I am {0}".format("Nitish",30)

'Hello my name is30 and I am Nitish'

In [73]:
"Hello my name is {age} and I am {name}".format(name = "Nitish",age = 30)

'Hello my name is 30 and I am Nitish'

In [74]:
"Hello my name is {age} and I am {weight}".format(name = "Nitish", age = 30, weight = 70)

'Hello my name is 30 and I am 70'

In [75]:
#isalnum/ isalphal/ isdecimal/ isdigit/ isidentifier

In [76]:
"FLAT20".isalnum() #check for alphanumeric

True

In [80]:
"flat20&".isalnum()

False

In [81]:
"FLAT".isalpha() #check for alphabat only

True

In [83]:
"FLAT20".isalpha()

False

In [84]:
"30A".isdigit()

False

In [85]:
"hello_world".isidentifier()

True

In [88]:
"hello world".isidentifier()

False

In [89]:
#split

In [90]:
"who is the pm of India".split() #breaks all the words and converts it into word list

['who', 'is', 'the', 'pm', 'of', 'India']

In [91]:
"who is the pm of india".split("i")

['who ', 's the pm of ', 'nd', 'a']

In [92]:
#Join

In [93]:
" ".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who is the pm of india'

In [94]:
"/".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who/is/the/pm/of/india'

In [95]:
"Hi my name is Nitish".replace("Nitish","Amit")

'Hi my name is Amit'

In [96]:
#strip
name = "            nitish          "
name.strip()

'nitish'

In [1]:
#List
#1. what is a list
#2. list v Array
#3. creat
#4. Access
#5. Add
#6. Delete
#7. operations
#8. Functions

In [2]:
#1. Array homogenous , list hetrogenous(different data type)
#2. Array - continues memory allocation
#3. Arrays are much faster
#4. list are more programer friendly

In [6]:
L = [1,2,3,4.5]
L

[1, 2, 3, 4.5]

In [8]:
L2 = ["hello",4,5.5,True,5+6]
L2

['hello', 4, 5.5, True, 11]

In [10]:
#multi-dim lists

#2D
L3 = [1,2,3,[4,5]]
L3

[1, 2, 3, [4, 5]]

In [11]:
 #3D
L4 = [[[1,2],[3,4]],[[5,6],[7,8]]]
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [14]:
L5 = list("Halda")
L5

['H', 'a', 'l', 'd', 'a']

In [15]:
#create
T1 = ()
T1

()

In [16]:
T2 = (1,2,3,4,5)
T2

(1, 2, 3, 4, 5)

In [17]:
T3 = ("Hello",4,5,6)
T3

('Hello', 4, 5, 6)

In [18]:
T4 = (1,2,3,(4,5))
T4

(1, 2, 3, (4, 5))

In [19]:
T5 = (1)
T5

1

In [20]:
type(T5)

int

In [ ]:
T