In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [4]:
data = sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
data.rename(columns={'sepal_length':'SL', 'sepal_width':'SW', 'petal_length':'PL', 'petal_width':'PW'}, inplace=True)

In [6]:
data.head()

    SL   SW   PL   PW species
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa
2  4.7  3.2  1.3  0.2  setosa
3  4.6  3.1  1.5  0.2  setosa
4  5.0  3.6  1.4  0.2  setosa

In [7]:
setosa = data[data['species'] == 'setosa']
versicolor = data[data['species'] == 'versicolor']
virginica = data[data['species'] == 'virginica']

Measuers of Spread

1.range
2.interquartile range(iqr)
3.variance 
4.standard deviation

Range
the range describes the  difference between the largest and the smallest point in the data

In [10]:
r = np.max(setosa['PL']) - np.min(setosa['PL'])
print('range is', r)

range is 0.8999999999999999

Percentile

In [11]:
mylist = [1,2,3,4,5,6,7,8,9]
print(np.percentile(mylist, 25))
print(np.percentile(mylist, 90))

3.0
8.2

In [12]:
np.percentile(setosa['PL'],95)

1.7

Quartiles

quartiles are the values that divide a list of number into quarters

In [13]:
print(np.percentile(setosa['PL'],25))
print(np.percentile(setosa['PL'],50))
print(np.percentile(setosa['PL'],75))
print(np.percentile(setosa['PL'],100))

1.4
1.5
1.5750000000000002
1.9

Interquartile range

the interquartile range (iqr) is a measure of statistical dispersion betwen upper (75th) and lower(25th) quartile

In [15]:
iqr = np.percentile(setosa['PL'], 75) - np.percentile(setosa['PL'], 25)
print('iqr is ', iqr)

iqr is  0.17500000000000027

Mean Absoulute Deviation

The absolute deviation from mean, also called mean absolute deviatoino (MAD), describe the variation in the data set, in sense that it tellss the average absolute distnace of each data point in the set. it is calulated as
formulate searchit:)

take mean of all subtract it with each and then add and take mean again

example:
2, 5, 1, 6, 7, 3, 11
the mean is 5

(|2-5| + |5-5| + |1-5| ... + |11-5|)/7 = 2.5

Variance measures how far are data points spread out from the mean.

The variance is computed by finding the difference between every data point and the mean, squaring them, summing them up and then taking the average of those numbers.



The squares are used during the calculation because they weight outliers more heavily than points that are near to the mean. This prevents that differences above the mean neutralize those below the mean.

Example

2,5,1,6,7,3,11

The mean is 5

((2-5)^2 + (5-5)^2 + (1-5)^2 + (6-5)^2 + (7-5)^2 + (3-5)^2 + (11-5)^2)/7

9+0+16+1+4+4+36=70/7=10

In [16]:
np.var(setosa['PL'])

0.029555999999999995